:root {
	--var-findbar-transform-translateY: 150px;
	--var-findbar-transform-translateX: -50%;
	--var-findbar-position-top: auto;
	--var-findbar-position-bottom: 15px;
	--var-findbar-position-left: 50%;
	--var-findbar-position-right: auto;
	--var-findbar-background-color: var(--zen-colors-primary, --sidebar-background-color);
	--var-findbar-text-color: var(--toolbar-color, currentColor);
	--var-findbar-box-shadow: 0 5px 10px #00000080;
}

/* Custom background */
@media (-moz-pref("better_findbar.enable_custom_background", true)) {
	:root {
		--var-findbar-background-color: var(--better_findbar-custom_background);
	}
}

/* Custom text color */
@media (-moz-pref("better_findbar.enable_custom_text_color", true)) {
	:root {
		--var-findbar-text-color: var(--better_findbar-custom_text_color);
	}
}

/* Custom box shadow */
@media (-moz-pref("better_findbar.enable_custom_box_shadow", true)) {
	:root {
		--var-findbar-box-shadow: var(--better_findbar-custom_box_shadow);
	}
}

/* Horizontal Position */
@media (-moz-pref("better_findbar.horizontal_position", "left")) {
	:root {
		--var-findbar-transform-translateX: 0%;
		--var-findbar-position-left: 15px;
		--var-findbar-position-right: auto;
	}
}

@media (-moz-pref("better_findbar.horizontal_position", "right")) {
	:root {
		--var-findbar-transform-translateX: 0%;
		--var-findbar-position-left: auto;
		--var-findbar-position-right: 15px;
	}
}

/* Vertical Position */
@media (-moz-pref("better_findbar.vertical_position", "top")) {
	:root {
		--var-findbar-transform-translateY: -150px;
		--var-findbar-position-bottom: auto;
		--var-findbar-position-top: 15px;
	}
}


findbar {
	display: flex !important;

	border-radius: var(--zen-border-radius, 8px) !important;
	margin: 0px !important;

	width: 90% !important;
	max-width: calc(var(--better_findbar-textbox_width) * 1px); 

	height: auto !important;

	position: absolute !important;
	top: var(--var-findbar-position-top);
	bottom: var(--var-findbar-position-bottom);
	left: var(--var-findbar-position-left);
	right: var(--var-findbar-position-right);
	transform: translateX(var(--var-findbar-transform-translateX)) translateY(0);

	overflow: unset !important;
	box-shadow: var(--var-findbar-box-shadow);

	background: var(--var-findbar-background-color) !important;
	color: var(--var-findbar-text-color) !important;
	border: 1px solid
		color-mix(
			in hsl,
			var(--var-findbar-background-color) 75%,
			var(--var-findbar-text-color)
		) !important;

	transition: transform 0.35s ease !important;

	visibility: visible !important;
	opacity: 1 !important;

	& .findbar-container {
		flex-wrap: wrap;
		overflow-x: auto !important;
		height: auto !important;

		row-gap: 10px;

		& > :first-child {
			width: 100% !important;
		}

		& .findbar-textbox {
			flex-grow: 1;
			background: var(--var-findbar-background-color) !important;
			color: var(--var-findbar-text-color) !important;
			border: 1px solid
				color-mix(
					in hsl,
					var(--var-findbar-background-color),
					var(--var-findbar-text-color) 50%
				) !important;

			&[status="notfound"] {
				background-color: color-mix(
					in srgb,
					var(--var-findbar-background-color),
					#e80538 50%
				) !important;
				color: inherit;
			}
		}

		& .findbar-textbox:focus {
			outline: 1px solid
				color-mix(
					in hsl,
					var(--var-findbar-background-color),
					var(--var-findbar-text-color) 75%
				) !important;
			outline-offset: -1px !important;
		}
	}

	&[hidden] {
		transform: translateX(var(--var-findbar-transform-translateX)) translateY(var(--var-findbar-transform-translateY));
	}

	@starting-style {
		transform: translateX(var(--var-findbar-transform-translateX)) translateY(var(--var-findbar-transform-translateY));
	}
}

/* Disable animations */
@media (-moz-pref("better_findbar.instant_animations", true)) {
	findbar, findbar .findbar-container {
		transition: initial !important;
	}
}

/* Background blur */
@media (-moz-pref("better_findbar.transparent_background", true)) {
	findbar, findbar .findbar-textbox:not([status="notfound"]) {
		backdrop-filter: blur(8px);

		background: color-mix(in hsl, var(--var-findbar-background-color), transparent 10%) !important;
	}
}

/* Hide highlight checkbox */
@media (-moz-pref("better_findbar.hide_highlight", "hide_immediately")) {
	findbar .findbar-highlight {
		display: none !important;
	}
}

@media (-moz-pref("better_findbar.hide_highlight", "hide_on_disable")) {
	findbar .findbar-highlight:not([checked]) {
		display: none !important;
	}
}

/* Hide match case checkbox */
@media (-moz-pref("better_findbar.hide_match_case", "hide_immediately")) {
	findbar .findbar-case-sensitive {
		display: none !important;
	}
}

@media (-moz-pref("better_findbar.hide_match_case", "hide_on_disable")) {
	findbar .findbar-case-sensitive:not([checked]) {
		display: none !important;
	}
}

/* Hide match diacritics checkbox */
@media (-moz-pref("better_findbar.hide_match_diacritics", "hide_immediately")) {
	findbar .findbar-match-diacritics {
		display: none !important;
	}
}

@media (-moz-pref("better_findbar.hide_match_diacritics", "hide_on_disable")) {
	findbar .findbar-match-diacritics:not([checked]) {
		display: none !important;
	}
}

/* Hide whole words checkbox */
@media (-moz-pref("better_findbar.hide_whole_words", "hide_immediately")) {
	findbar .findbar-entire-word {
		display: none !important;
	}
}

@media (-moz-pref("better_findbar.hide_whole_words", "hide_on_disable")) {
	findbar .findbar-entire-word:not([checked]) {
		display: none !important;
	}
}

/* Hide find status label */
@media (-moz-pref("better_findbar.hide_find_status", true)) {
	findbar .findbar-find-status {
		display: none !important;
	}
}

/* Hide found matches label */
@media (-moz-pref("better_findbar.hide_found_matches", true)) {
	findbar .findbar-label.found-matches {
		display: none !important;
	}
}
